h1{
    font-size: 130px;
    font-family: 'Maven Pro', sans-serif;
}

h2{
    font-size: 40px;
    font-family: 'Source Sans Pro', sans-serif;
}

p{
    font-family: 'Source Sans Pro', sans-serif; 
}

a{
    margin:30px;
    padding: 40px;
}
