.place-image {
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 15px;
    z-index: -1;
    width: 110%;
    height: auto;
    border-radius: 6px;
}

.skin-image {
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    top: 20px;
    left: 0;
    right: 0;
    width: 80px;
    z-index: 0;
}

.eyes-image {
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    top: 25px;
    left: 0;
    right: 0;
    width: 55px;
    z-index: 2;
}

.hair-image {
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    top: 10px;
    left: 0;
    right: 0;
    width: 70px;
    z-index: 1;
}

.outfit-image {
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    top: 20px;
    left: 0;
    right: 0;
    width: 80px;
    z-index: 1;
}


