.wordsOuter {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  margin: top 300px;
  margin-left: 600px;
}

.wordsText1 {
  font-size: 45px;
}

.wordsInner {
  position: absolute;
  border: 1px solid #eee;
  height: 50px;
  font-size: 45px;
  text-transform: uppercase;
  display: inline-block;
  overflow: hidden;
  line-height: 50px;
}

.wordsInner li {
  animation: animate 6s ease infinite;
  position: relative;
  color: #e58e26;
}

@keyframes animate {
  0% {
    top: 0px;
  }
  20% {
    top: 0px;
  }
  25% {
    top: -50px;
  }
  45% {
    top: -50px;
  }
  50% {
    top: -100px;
  }
  70% {
    top: -100px;
  }
  75% {
    top: -150px;
  }
  95% {
    top: -150px;
  }
  100% {
    top: 0px;
  }
}

.AddiText55 {
  text-align: center;
  margin-left: 160px;
  font-size: 110px;
  color: rgb(247, 247, 247);
  
  text-shadow: black;
  height: 170px;
  width: 100%;
  letter-spacing: 4px;
  line-height: 30px;
}

.Additext-container{
  font-size: 110px;
  color: rgba(2, 2, 2, 0.317);
  
  background-repeat: repeat-x;
  -webkit-background-clip: text;
  animation: animate 15s linear infinite;
}

@keyframes animate {
  0% {
    background-position: Left 0px top 10px;
  }
  40% {
    background-position: Left 800px top 10px;
  }
}

.text-container {
  text-align: center;
}

.Additext-container {
  font-size: 100px;
  color: rgba(74, 72, 72, 0.1);
  background-image: url(./assets/addi1.jpeg);
  background-repeat: repeat-x;
  -webkit-background-clip: text;
  animation: animate 15s linear infinite;
}

@keyframes animate {
  0% {
    background-position: Left 0px top 10px;
  }
  40% {
    background-position: Left 800px top 10px;
  }
}

.Additext-container {
  text-align: center;
  margin-top: 1em;

  font-size: 100px;
}

.AddiSecPicContainer {
  background: url(../../pages/Addiction/assets/smoke4.jpeg);
  min-height: 20px;
  background: cover;
  
  text-align: center;
  padding-top: 10px;
  padding-bottom: 2px;
  border-radius: 6px;
  color: rgb(151, 150, 152);
}

.LifeText3div {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  background: url(../Addiction/assets/smoke4.jpeg);
  height: 20px;
  width: 100%;
}

.MoodcrisisAnimeDiv {
  padding: 2%;
  
  width: 100%;
  height: auto;
  margin-top: 2%;
  text-align: center!important;
  margin-bottom: 7em;
  margin-left: 0%;
  justify-content: space-around;
  
}

.MoodcrisisAnime {
  padding: 2%;
 
  width: 100%;
  height: auto;
  margin-top: 2%;
  text-align: center!important;
  margin-left: 0%;
  justify-content: space-around;
  
}

.MoodcrisisAnimefoot {
  padding: 2%;
  
  width: 100%;
  height: auto;
  margin-top: 4%;
  text-align: center!important;
  margin-bottom: -70px;
  margin-left: 0%;
  justify-content: space-around;
  
}

.MoodcrisisAnime1 {
  float: right;
  margin-right: 15%;
}



.LifecrisisAnime {
  padding-top: 4%;
  color: black;
 
  width: 100%;
  height: auto;
  margin-top: 20%;
  text-align: center!important;
  margin-bottom: -120px;
  margin-left: 0%;
  background-color: black;
  
  z-index: -1;
}

.AddiPageContainer{
  font: 15px/1.5 sans-serif;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  background-color: rgba(192, 192, 192, 0.0);
  color: rgb(152, 150, 150);
  letter-spacing: 1px;
  letter-spacing: 2px;

}


.AddiText1{
  font-size: 48px;
  color: rgb(151, 150, 152);
  margin-bottom: 80px;
  float: center;
  font-size: 500px;
  color: rgba(72, 69, 67, 0.119);
  
  height: 160px;
}

.lifeColorsh1{
  font-size: 96px;
  text-align: center;
  color: #3e24047b;
}

.addiSeparatorSupport{

  height: 2em;
  width: 100%;
  background: url(/client/src/pages/Addiction/assets/skull.webp);
}

.AddiText55{
  color: rgba(255, 255, 255, 0.488);


}

.AddiSection1{
  text-align: right;
}

.Additext-container{
  text-align: right;
  margin-top:90px;
  margin-bottom: -70px;
}



.AddiinformedFooter{
  padding: 20px;
  margin-top: 80px;
  color: rgba(248, 199, 242, 0.897);
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.29);
  text-align: center;
  margin-top: -25%;
  
}

.LifecrisisAnimefoot{
  margin-bottom: 7.1%;
  padding: 2%;
  
  width: 100%;
  height: auto;
  margin-top: 4%;
  text-align: center!important;
  
  margin-left: 0%;
  justify-content: space-around;
}

.moodBox{
  border: 1px solid pink;
}