.wordsOuter {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    position: relative;
    margin: top 300px;
    margin-left: 600px;
  }
  
  .wordsText1 {
    font-size: 45px;
  }
  
  .wordsInner {
    position: absolute;
    border: 1px solid #eee;
    height: 50px;
    font-size: 45px;
    text-transform: uppercase;
    display: inline-block;
    overflow: hidden;
    line-height: 50px;
  }
  
  .wordsInner li {
    animation: animate 6s ease infinite;
    position: relative;
    color: #e58e26;
  }
  @keyframes animate {
    0% {
      top: 0px;
    }
    20% {
      top: 0px;
    }
    25% {
      top: -50px;
    }
    45% {
      top: -50px;
    }
    50% {
      top: -100px;
    }
    70% {
      top: -100px;
    }
    75% {
      top: -150px;
    }
    95% {
      top: -150px;
    }
    100% {
      top: 0px;
    }
  }
  






  


  .AddiText55{
  

      text-align: center;
      margin-left:160px;
      font-size: 110px;
      color: rgb(247, 247, 247);
      opacity: 0.3;
     text-shadow: black;
      height: 170px;
      width: 100%;
      letter-spacing: 4px;
      line-height:30px;



  }




  .Additext-container .moodColors {
    font-size: 110px;
    color:rgba(2, 2, 2, 0.317);
  line-height:1;
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    animation: animate 15s linear infinite;
  
  }
  
  @keyframes animate {
    0% {
      background-position: Left 0px top 10px;
    }
    40% {
      background-position: Left 800px top 10px;
    }
  }
  
  .text-container {
    text-align: center;
    padding:0px;
  }

.Additext-container{
  font-size: 100px;
  color: rgba(74, 72, 72, 0.1);
  background-image: url(./assets/addi1.jpeg);
  background-repeat: repeat-x;
  -webkit-background-clip: text;
  animation: animate 15s linear infinite;
}

@keyframes animate {
  0% {
    background-position: Left 0px top 10px;
  }
  40% {
    background-position: Left 800px top 10px;
  }
}

.Additext-container {
 
  text-align: center;
  margin-bottom:-10px;;
}



.AddiSecPicContainer {
  background: url(../../pages/Addiction/assets/smoke4.jpeg);
  min-height: 20px;
  background: cover;
  opacity: 0.8;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 2px;
  border-radius: 6px;
  color: rgb(151, 150, 152);
}


.LifeText3div{
  text-align: left;
  margin-top:0px;
  margin-bottom:0px;
  background: url(../Addiction/assets/smoke4.jpeg);
  height:20px;
  width:100%;
}
.lifeColorsh1{
  opacity:1;
}