body>div>div:nth-child(1)>div.col-sm-3.a>div.col-3.logo>img {
    width: 185%;
}

#avatarmenu:hover {
    margin-left: -9px;
    filter: sepia();
    font-family: monospace;
    font-size: xx-large;
}

.avatardisplay {
    height: 200px;
    width: 300px;
}

.avatardisplay:hover {
    height: 200px;
    width: 300px;
    background-color: transparent;
}

.es99 {
    object-fit: cover;
    overflow: hidden;
    background-position-x: center;
    background-position: center;
    border: 1px dashed hsl(0, 0%, 0%, 0.4);
}

.es1:hover {
    border: 1px solid black;
}

.es2:hover {
    border: 1px solid black;
}

.es3:hover {
    border: 1px solid black;
}

.es4:hover {
    border: 1px solid black;
}

.es5:hover {
    border: 1px solid black;
}

body>div>div>div.col-sm-9.b>div.row.col-6.this>div>div>div>div>div>div:nth-child(2) {
    margin-left: -301px;
}

.Backround {
    background-size: inherit;
}

body>div>div>div.col-sm-9.b>div.row.col-6.this>div {
    margin-top: -92px;
    margin-left: -194px;
}

body>div>div>div.col-sm-9.b>div:nth-child(3)>div>div {
    margin-top: 39px;
    margin-left: 248px;
}

.bodya {
    color: black;
    background-color: white;
    height: 20px;
    overflow-y: scroll;
}

.bodya:hover {
    cursor: pointer;
    color: black;
    background-color: white;
    height: 100%;
    overflow-y: scroll;
}

.bodya::-webkit-scrollbar {
    display: none;
}

#bodyimage {
    width: 132px;
    margin-left: 68px;
    margin-top: -208px;
}

#bodyimages {
    width: 99px;
    margin-left: 68px;
    margin-top: -208px;
}

.eyesa {
    color: black;
    background-color: white;
    height: 20px;
    overflow-y: scroll;
}

.eyesa:hover {
    cursor: pointer;
    color: black;
    background-color: white;
    height: 99px;
    overflow-y: scroll;
}

.eyesa::-webkit-scrollbar {
    display: none;
}

#eyesimage {
    width: 70px;
    margin-left: 66px;
    margin-top: -296px;
}

#eyesimages {
    width: 70px;
    margin-left: 66px;
    margin-top: -248px;
}

.haira {
    color: black;
    background-color: white;
    height: 20px;
    overflow-y: scroll;
}

.haira:hover {
    cursor: pointer;
    color: black;
    background-color: white;
    height: 99px;
    overflow-y: scroll;
}

.haira::-webkit-scrollbar {
    display: none;
}

#hairimage {
    width: 89px;
    margin-left: 40px;
    margin-top: -309px;
}

#hairimages {
    width: 89px;
    margin-left: 42px;
    margin-top: -261px;
}

#hairimages2 {
    width: 104px;
    margin-left: 33px;
    margin-top: -203px;
}

.cloth {
    margin-left: -16px;
    color: black;
    background-color: white;
    height: 20px;
    overflow-y: scroll;
}

.cloth:hover {
    margin-left: -16px;
    cursor: pointer;
    color: black;
    background-color: white;
    height: 99px;
    overflow-y: scroll;
}

.cloth::-webkit-scrollbar {
    display: none;
}

.Backround {
    color: black;
    background-color: white;
    margin-left: -16px;
    height: 20px;
    overflow-y: scroll;
}

.Backround:hover {
    margin-left: -16px;
    cursor: pointer;
    color: black;
    background-color: white;
    height: 99px;
    overflow-y: scroll;
}

.Backround::-webkit-scrollbar {
    display: none;
}

#ropaimage {
    width: 95px;
    margin-left: 26px;
    margin-top: -604px;
}

#ropaimages {
    width: 95px;
    margin-left: 26px;
    margin-top: -604px;
}

body>div>div>div.col-sm-9.b>div.row.col-6.this {
    margin-top: -200px;
    margin-left: 147px;
}