.category-card {
    width: 250px;
    height: 166px;
    line-height: 166px;
    text-align: center;
}

.mini-post {
    margin: 0 auto;
    margin-top: 1%;
    padding: 1%;
    width: 66%;
    text-align: center;
    justify-content:center;
    background-color: white;
    border-radius: 6px;

}

.mini-post-text:hover {
    cursor: pointer;
}

.post-card {
    background-color: white;
    margin: 2%;
    border-radius: 6px;
}

.post-card:hover {
    cursor: pointer;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.post-card:hover {
    transition: all 0.3s ease;
    transform: scale(1.05);
}

.content_text {
    margin-top: 2%;
    width: 100%;
    margin-left: 5%;
    height: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: "ellipsis";
}

.btn-md {
    width: 10%;
    background-color: white;
    color: blue;
}

.button-container {
    /*rules for button*/
}