.category-card {
    width: 250px;
    height: 166px;
    line-height: 166px;
    text-align: center;
}

.mini-post {
    margin: 0 auto;
    margin-top: 1%;
    padding: 1%;
    width: 66%;
    text-align: center;
    justify-content:center;
    background-color: white;
    border-radius: 1%;
}

.mini-post-text:hover {
    cursor: pointer;
}

.post-card {
    background-color: white;
    margin: 1%;
}