.category-card {
    width: 250px;
    height: 166px;
    line-height: 166px;
    text-align: center;
}

.mini-post {
    margin: 1%;
    text-align: center;
    justify-content:center;
}

.mini-post-text:hover {
    cursor: pointer;
}