.text-support {
  font-size: 16px;
  font-weight: bolder;
  color: rgba(238, 197, 30, 0.728);
  padding-left: 2%;
}

.text-container {
  font-size: 144px;
  color: rgba(0, 0, 0, 0.1);
  background-image: url(./assets/color-swirl.jpg);
  background-repeat: repeat-x;
  -webkit-background-clip: text;
  animation: animate 15s linear infinite;
}

@keyframes animate {
  0% {
    background-position: Left 0px top 10px;
  }
  40% {
    background-position: Left 800px top 10px;
  }
}

.text-container {
  text-align: center;
  margin-bottom: 0px;
}

.MoodPageContainer {
  font: 15px/1.5 sans-serif;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #020202;
  color: rgb(152, 150, 150);
  letter-spacing: 1px;
  letter-spacing: 2px;
}

.MoodPage {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.moodHeader {
  background-color: black;
  padding-top: 33px;
  min-height: 10px;
  border-bottom: rgb(244, 146, 27) 3px solid;
  float: left;
}

.MoodPageContainer {
  font: 15px/1.5 sans-serif;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #020202;
  color: rgb(152, 150, 150);
  letter-spacing: 1px;
  letter-spacing: 2px;
}

.MHtext1 {
  font-size: 26px;
  color: rgb(241, 238, 244);
}

.MoodPage {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.moodHeader {
  background-color: black;
  padding-top: 33px;
  min-height: 10px;
  border-bottom: rgb(223, 175, 17) 3px solid;
  float: left;
}

.moodText1 {
  font-size: 48px;

  margin-bottom: 80px;
  float: center;
  font-size: 500px;
  color: rgb(72, 69, 67);

  height: 160px;
}

.MoodSec2container {
  color: rgb(211, 44, 169);
  background: rgb(1, 1, 1);
  border-bottom: 2px solid rgb(244, 159, 94);
  padding-top: 1em;
  padding-bottom: 1px;
  border-radius: 6px;
  margin-left: 0px;
  font-size: 14px;
}

.requestSupport {
  font-size: 22px;
  color: rgba(245, 203, 89, 0.733);

  letter-spacing: 7px;
}

.text-container {
  text-align: center;
  padding: 0px;
}

.moodTextDiv2 {
  display: inline-block;
  padding-top: 2%;
}

.moodText2 .feelingDown {
  font-size: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.MoodSecPicContainer {
  background: url(../../pages/Mood/assets/color-blocks.jpg);
  min-height: 20px;
  background: cover;

  text-align: center;
  padding-top: 10px;
  padding-bottom: 2px;
  border-radius: 6px;
  color: rgb(151, 150, 152);
}

.vl {
  border-left: 3px solid rgb(151, 150, 152);
  height: 50px;
  padding: 0px;
  display: inline-block;
}

.mooddown {
  color: rgb(223, 170, 70);
  text-align: center;
  padding-top: 25px;
  font-size: 28px;
  padding-bottom: 12px;
  letter-spacing: 7px;
}

.mooddown2 {
  font-weight: bolder;
  color: rgb(225, 167, 59);

  border-radius: 90px;
  font-size: 22px;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 3px;
}
.borderDown {
  border-radius: 90px;
  width: 170px;
  text-align: center;
  margin-left: 362px;
  margin-top: 3px;

  margin-top: 5px;
}

.moodTextp1 {
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: left;
  font-size: 13px;
  line-height: 20px;
}

.moodTextp2 {
  color: rgba(211, 44, 169, 0.632);
  font-size: 4em;
  height: 100px;

  text-align: center;
}

.moodTextp22 {
  font-size: 2em;
  color: rgb(241, 238, 236);
}

.moodText55 {
  color: rgb(228, 191, 218);
  font-size: 3em;
}

.moodText3 {
  color: rgb(211, 44, 169);
  font-size: 18px;
}
.moodText4 {
  color: rgb(240, 201, 168);
  font-size: 18px;
}

.moodTextDiv {
  text-align: right;
}

.zipcodeInput[type="text"]:focus {
  border: 3px solid rgb(0, 0, 0);
}
.zipcodeInput[type="text"] {
  width: 90%;
  padding: 10px 18px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 6px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  background-color: rgb(0, 0, 0);
  color: rgb(254, 165, 97);
  font-size: 14px;
  padding-left: 0px;
  margin-left: 0px;
}

.informedButton {
  display: inline-block;
  border-radius: 6px;
  background-color: #000000;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(211, 44, 169);
  text-align: center;
  font-size: 14px;
  padding: 8px;
  width: 90px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 1%;
  vertical-align: middle;
  margin-top: auto;
  padding-left: 0px;
  margin-left: 0px;
}

.informedButton .informedSpan {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  margin-left: 0px;
}

.informedButton .informedSpan:after {
  content: "\00bb";
  position: absolute;

  top: 0;
  right: -20px;
  transition: 0.5s;
  color: rgb(211, 44, 169);
  margin-left: 0px;
}

.informedButton:hover .informedSpan {
  padding-right: 20px;
}

.informedButton:hover .informedSpan:after {
  right: 0;
}

.informedButtoninputs {
  color: rgb(244, 159, 94);
  font-family: "Poppins", sans-serif;
}

.Moodul {
  margin-top: 40px;
  margin-bottom: 80px;
  font-size: small;
}
.Moodul .Moodli {
  color: #ffffff;
  /* set color of list item text */
  display: inline-block;
  list-style: none;
  margin: 0 0 16px 1.1225em;
  /* Give the bullet room on the left hand side */
  padding: 0;
  position: relative;
}

.Moodul .Moodli::before {
  color: rgb(211, 44, 169);
  /* color of bullet or square */
  content: "\2022";
  /* Unicode of character to precede the list item */
  display: inline-block;
  font-size: 1em;
  /* use em or % */
  left: -1.1225em;
  /* use em, line up bullet flush with left hand side */
  position: absolute;
  /* Set the bullet positioned absolutely top left */
  top: 0em;
  /* use em or % */
}

.MoodSec3container {
  margin-top: 20px;
  height: 200px;
}

.MoodSec3container .moodBox {
  float: left;
  text-align: right;
  width: 28%;
  padding: 5px;
  color: rgb(211, 44, 169);
  border-top: black;
}

.moodBox .moodTextbox {
  width: 100%;
  color: rgb(196, 194, 193);
  background-color: rgba(0, 0, 0, 0);
}
.moodBox {
  height: 600px;
  width: 600px;
  border-left: blueviolet;
  border-right: blueviolet;
  text-align: center;
  font-size: 12px;
  margin-left: 30px;

  line-height: 20px;
}
.informedFooter {
  padding: 20px;
  margin-top: 80px;
  color: rgba(248, 199, 242, 0.797);
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}
.moodTextbox {
  background: rgb(0, 0, 0);
  color: rgb(241, 238, 236);
  border-radius: 6px;
  text-align: center;
}

.crisisHotline {
  color: rgb(211, 44, 169);
  height: 200px;
  width: 200px;

  font-size: 13px;
}
.moodBox {
  height: 600px;
  width: 600px;
}

.moodTextDiv3 {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

.moodText5 {
  text-align: center;
  font-size: 176px;

  height: 110px;
  width: 100%;
  letter-spacing: 0px;
  line-height: 120px;
  color: rgb(211, 44, 169);
}

.moodText55 {
  text-align: center;
  margin-left: -80px;
  font-size: 100px;
  color: rgb(247, 247, 247);

  text-shadow: black;
  height: 170px;
  width: 100%;
  letter-spacing: 4px;
  line-height: 90px;
}

.moodText555 {
  text-align: left;
  font-size: 146px;
  height: 1px;
  width: 100%;
  letter-spacing: 3px;
  line-height: 30px;
  color: rgb(218, 169, 206);

  text-shadow: black;
  margin-left: 120px;
}

.MoodSection3 {
  margin-top: -15px;
  padding-top: 0px;
  line-height: 26px;
}

.text-container {
  text-align: center;
  padding: 0px;
}

.moodTextDiv2 {
  display: inline-block;
  padding-top: 2%;
}

.moodText2 .feelingDown {
  font-size: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.MoodSecPicContainer {
  background: url(../../pages/Mood/assets/color.jpg);
  min-height: 20px;
  background: cover;

  text-align: center;
  padding-top: 10px;
  padding-bottom: 2px;
  border-radius: 6px;
  color: rgb(151, 150, 152);
}

.vl {
  border-left: 3px solid rgb(151, 150, 152);
  height: 50px;
  padding: 0px;
  display: inline-block;
}

.mooddown {
  color: rgb(244, 183, 70);
  text-align: center;
  padding-top: 25px;
  font-size: 28px;
  padding-bottom: 12px;
  letter-spacing: 7px;
}

.mooddown2 {
  font-weight: bolder;
  color: rgb(244, 168, 28);

  border-radius: 90px;
  font-size: 22px;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 3px;
}

.borderDown {
  border-radius: 90px;
  width: 170px;
  text-align: center;
  margin-left: 362px;
  margin-top: 3px;
  margin-top: 5px;
}

.moodTextp1 {
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: left;
  font-size: 13px;
  line-height: 20px;
  color: white;
}

.moodTextp2 {
  color: rgba(211, 44, 169, 0.803);
  font-size: 4em;
  height: 100px;

  text-align: center;
  text-shadow: black;
}

.moodTextp22 {
  font-size: 2em;
  color: rgba(241, 238, 236, 0.783);

  text-shadow: black;
}

.moodText55 {
  color: rgb(228, 191, 218);
  font-size: 3em;
}

.moodText3 {
  color: rgb(211, 44, 169);
  font-size: 18px;
}

.moodText4 {
  color: rgb(240, 201, 168);
  font-size: 18px;
}

.moodTextDiv {
  margin-left: -5%;
}

.zipcodeInput[type="text"]:focus {
  border: 3px solid rgb(0, 0, 0);
}

.zipcodeInput[type="text"] {
  width: 90%;
  padding: 10px 18px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 6px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  background-color: rgb(0, 0, 0);
  color: rgb(254, 165, 97);
  font-size: 14px;
  padding-left: 0px;
  margin-left: 0px;
}

.informedButton {
  display: inline-block;
  border-radius: 6px;
  background-color: #000000;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(211, 44, 169);
  text-align: center;
  font-size: 14px;
  padding: 8px;
  width: 90px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 1%;
  vertical-align: middle;
  margin-top: auto;
  padding-left: 0px;
  margin-left: 0px;
}

.informedButton .informedSpan {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  margin-left: 0px;
}

.informedButton .informedSpan:after {
  content: "\00bb";
  position: absolute;
  top: 0;
  right: -20px;
  transition: 0.5s;
  color: rgb(211, 44, 169);
  margin-left: 0px;
}

.informedButton:hover .informedSpan {
  padding-right: 20px;
}

.informedButton:hover .informedSpan:after {
  right: 0;
}

.informedButtoninputs {
  color: rgb(244, 159, 94);
  font-family: "Poppins", sans-serif;
}

.Moodul {
  margin-top: 40px;
  margin-bottom: 80px;
  font-size: small;
}

.Moodul .Moodli {
  color: #ffffff;
  /* set color of list item text */
  display: inline-block;
  list-style: none;
  margin: 0 0 16px 1.1225em;
  /* Give the bullet room on the left hand side */
  padding: 0;
  position: relative;
}

.Moodul .Moodli::before {
  color: rgb(211, 44, 169);
  /* color of bullet or square */
  content: "\2022";
  /* Unicode of character to precede the list item */
  display: inline-block;
  font-size: 1em;
  /* use em or % */
  left: -1.1225em;
  /* use em, line up bullet flush with left hand side */
  position: absolute;
  /* Set the bullet positioned absolutely top left */
  top: 0em;
  /* use em or % */
}

.MoodSec3container {
  margin-top: 20px;
  height: 200px;
}

.MoodSec3container .moodBox {
  float: left;
  text-align: right;
  width: 28%;
  padding: 5px;
  color: rgb(211, 44, 169);
}

.moodBox .moodTextbox {
  width: 100%;
  color: rgb(196, 194, 193);
  border-radius: 6px;
}

.moodBox {
  height: 600px;
  width: 600px;
  text-align: center;
  font-size: 12px;
  margin-left: 30px;
  border-left: rgb(211, 44, 169);
  border-right: rgb(211, 44, 169);
  line-height: 20px;
}

.informedFooter {
  padding: 20px;
  margin-top: 80px;
  color: rgba(248, 199, 242, 0.824);
  border-radius: 6px;
  background-color: black;
  text-align: center;
}

.moodTextbox {
  background: rgb(0, 0, 0);
  color: rgb(241, 238, 236);
  border-radius: 6px;
  text-align: center;
}

.crisisHotline {
  color: rgb(211, 44, 169);
  height: 200px;
  width: 200px;

  font-size: 13px;
}

.moodTextDiv3 {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

.moodText5 {
  text-align: center;
  font-size: 176px;

  height: 110px;
  width: 100%;
  letter-spacing: 0px;
  line-height: 120px;
  color: rgb(211, 44, 169);
}

.moodText55 {
  text-align: center;
  margin-left: -80px;
  font-size: 100px;
  color: rgb(247, 247, 247);

  text-shadow: black;
  height: 170px;
  width: 100%;
  letter-spacing: 4px;
  line-height: 90px;
}

.moodText555 {
  text-align: left;
  font-size: 146px;
  height: 1px;
  width: 100%;
  letter-spacing: 3px;
  line-height: 30px;
  color: rgb(218, 169, 206);

  text-shadow: black;
  margin-left: 120px;
}

.MoodSection3 {
  margin-top: -15px;
  padding-top: 0px;
  line-height: 26px;
}

.moodText3 {
  margin-top: 60px;
}

.BlueMoodPageContainer {
  font: 15px/1.5 sans-serif;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  background-color: rgba(192, 192, 192, 0);
  color: rgb(152, 150, 150);
  letter-spacing: 1px;
  letter-spacing: 2px;
}

.zipcodeInput[type="text"]:focus {
  border: 3px solid rgba(0, 0, 0, 0);
}

.zipcodeInput[type="text"] {
  width: 90%;
  padding: 10px 18px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 6px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(254, 165, 97);
  font-size: 14px;
  padding-left: 0px;
  margin-left: 0px;
}

.informedButton {
  display: inline-block;
  border-radius: 6px;
  background-color: #00000000;
  border: 2px solid rgba(0, 0, 0, 0);
  color: rgb(211, 44, 169);
  text-align: center;
  font-size: 14px;
  padding-top: 8px;
  width: 90px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 1%;
  vertical-align: middle;
  margin-top: auto;
  padding-left: 0px;
  margin-left: 0px;
}

.informedButton .informedSpan {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  margin-left: 0px;
}

.informedButton .informedSpan:after {
  content: "\00bb";
  position: absolute;

  top: 0;
  margin-left: 0;
  transition: 0.5s;
  color: rgb(211, 44, 169);
  margin-left: 0px;
}

.informedButton:hover .informedSpan {
  padding-right: 20px;
}

.informedButton:hover .informedSpan:after {
  right: 0;
}

.informedButtoninputs {
  color: rgb(244, 159, 94);
  font-family: "Poppins", sans-serif;
}

.MoodSec1container {
  margin-bottom: 2%;
  background: url(../../pages/../pages/Suicide/images/cubesPurple.jpg) no-repeat;
  text-align: left;
  color: rgb(151, 150, 152);
  background: rgba(7, 40, 70, 0);
}

.MoodSec2container {
  color: rgb(211, 44, 169);
  background: #01010100;
  border-bottom: 2px solid rgb(244, 159, 94);
  padding-top: 1em;
  padding-bottom: 1px;
  border-radius: 6px;
  margin-left: 0px;
  font-size: 14px;
}
