
.text-support{
    font-size: 22px;
    font-weight: bolder;
    color:rgba(238, 197, 30, 0.728);
    padding-left:2%;
    
}

.text-container{
    font-size: 144px;
    color: rgba(225, 225, 225, 0.1);
    background-image: url(./assets/color-swirl.jpg);
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    animation: animate 15s linear infinite;
  }
  
  @keyframes animate {
    0% {
      background-position: Left 0px top 10px;
    }
    40% {
      background-position: Left 800px top 10px;
    }
  }
  
  .text-container {
   
    text-align: center;
  }
  



 