  
div.thumbnail {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding-top: 80%;
    transform: scale(1.0);
    border-radius: 6px;
  }