div.thumbnail {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    margin: 20%;
    margin-left: 0%;
  }