.EditorApp {
  display: block;
  grid-template-columns: 1fr 1fr;
  margin: 5%;
  background-color: white;
  padding: 2%;
  border-radius: 6px;
}

.post-title-container {
  
  border-radius: 6px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: white;
}

.editor {
  background-color: white;
  overflow-y: scroll;
}

.ck-editor__editable_inline {
  min-height: 440px;
}

#post-title-input {
  width: 100%;
}

.post-button-container {
  padding-left: 2%;
}