.footer-container {
  margin: 0 auto;
  margin-top: 2%;
  width: 98.5%;
  min-height: 100px!important;
  position: relative;
  background-color: rgba(192, 192, 192, 0.3);
  border-radius: 6px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.footer {
  padding-top: 1.5%;
}