h3{
    font-size: 70px;
    font-family: 'Maven Pro', sans-serif;
    color:white
}

h2{
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    color:white
}

p{
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: medium;
}


.text-support{
    font-size: 22px;
    font-weight: bolder;
    color:red;
}

.container-hotline1{

    font-size: larger;
    font-weight: bolder;
    color:red
}

*{background:url(./../../cubesPurple.jpg) no-repeat;}