.MoodPageContainer {
  font: 15px/1.5 sans-serif;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #0202022a;
  color: rgb(152, 150, 150);
  letter-spacing: 1px;
  letter-spacing: 2px;
}

.MHtext1 {
  font-size: 26px;
  color: rgb(241, 238, 244);
 
}

.MoodPage {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.moodHeader {
  background-color: rgba(0, 0, 0, 0);
  padding-top: 33px;
  min-height: 10px;
  border-bottom:rgb(211, 44, 169) 3px solid;
  float: left;
}

.moodText1 {
  font-size: 48px;
  color: rgb(151, 150, 152);
  margin-bottom: 80px;
  float: center;
  font-size: 500px;
  color: rgb(72, 69, 67);
  
  height: 160px;
}

.MoodSec2container {
  color: rgb(211, 44, 169);
  background: #01010100;
  border-bottom: 2px solid rgb(244, 159, 94);
  padding-top: 1em;
  padding-bottom: 1px;
  border-radius: 6px;
  margin-left: 0px;
  font-size: 14px;
}

.requestSupport {
  font-size: 2em;
  color: rgba(245, 203, 89, 0.733);
  
  letter-spacing: 5px;
}

.text-container .moodColors {
  font-size: 111px;
  color: rgba(3, 6, 91, 0.735);
  line-height: 1;
  background-repeat: repeat-x;
  -webkit-background-clip: text;
  animation: animate 15s linear infinite;
  margin-top: 6%;
  margin-bottom: 5%;
}

@keyframes animate {
  0% {
    background-position: Left 0px top 10px;
  }
  40% {
    background-position: Left 800px top 10px;
  }
}

.text-container {
  text-align: center;
  padding: 0px;
}

.moodTextDiv2 {
  display: inline-block;
}

.moodText2 {
  text-align: center;
}

.MoodSecPicContainer {
  background: url(../../pages/Mood/assets/color.jpg);
  min-height: 20px;
  background: cover;
  
  text-align: center;
  padding-top: 10px;
  padding-bottom: 2px;
  border-radius: 6px;
  color: rgb(151, 150, 152);
}

.vl {
  border-left: 3px solid rgb(151, 150, 152);
  height: 50px;
  padding: 0px;
  display: inline-block;
}

.mooddown {
  color: rgb(232, 173, 64);
  text-align: center;
  padding-top: 25px;
  font-size: 28px;
  padding-bottom: 12px;
  letter-spacing: 7px;
}

.mooddown2 {
  font-weight: bolder;
  color: rgb(237, 180, 75);
  
  border-radius: 90px;
  font-size: 22px;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 3px;
  margin-left:2em;
}

.borderDown {
  border-radius: 90px;
  width: 170px;
  text-align: center;
  margin-left: 362px;
  margin-top: 3px;
  margin-top: 5px;
}

.moodTextp1 {
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: left;
  font-size: 13px;
  line-height: 20px;
}

.moodTextp2 {
  color: rgba(223, 16, 171, 0.653);
  font-size: 9em;
  height: .9em;
  
  text-align: center;
  text-shadow: black;
}

.moodTextp22 {
  font-size: 4em;
  color: rgba(241, 238, 236, 0.55);
  
  text-shadow: black;
}

.LifeText55 {
  color: rgb(228, 191, 218);
  font-size: 4em;
  text-align: right;
  
  line-height: 100px;
  margin-bottom: 80px;
  margin-right: 6em;
}

.moodText55 {
  color: rgb(228, 191, 218);
  
}

.moodText3 {
  color: rgb(211, 44, 169);
  font-size: 18px;
}

.moodText4 {
  color: rgb(240, 201, 168);
  font-size: 18px;
}

.moodTextDiv {
  text-align: center;
}



.Moodul {
  margin-top: 40px;
  margin-bottom: 80px;
  font-size: small;
}

.Moodul .Moodli {
  color: #ffffff;
  /* set color of list item text */
  display: inline-block;
  list-style: none;
  margin: 0 0 16px 1.1225em;
  /* Give the bullet room on the left hand side */
  padding: 0;
  position: relative;
}

.Moodul .Moodli::before {
  color: rgb(211, 44, 169);
  /* color of bullet or square */
  content: "\2022";
  /* Unicode of character to precede the list item */
  display: inline-block;
  font-size: 1em;
  /* use em or % */
  left: -1.1225em;
  /* use em, line up bullet flush with left hand side */
  position: absolute;
  /* Set the bullet positioned absolutely top left */
  top: 0em;
  /* use em or % */
}

.MoodSec3container {
  margin-top: 20px;
  height: 15em;
}

.MoodSec3container .moodBox {
  float: left;
  text-align: right;
  width: 28%;
  padding: 5px;
}

.moodBox .moodTextbox {
  width: 100%;
  color: rgb(196, 194, 193);
  border-radius: 6px;
}

.moodBox {
  height: 600px;
  width: 600px;
  text-align: center;
  font-size: 12px;
  margin-left: 30px;
  
  line-height: 20px;
}

.informedFooter {
  padding: 20px;
  margin-top: 80px;
  color: rgba(248, 199, 242, 0.897);
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  
}

.moodTextbox {
  background: rgb(0, 0, 0);
  color: rgb(241, 238, 236);
  border-radius: 6px;
  text-align: center;
}

.crisisHotline {
  color: rgb(211, 44, 169);
  height: 200px;
  width: 200px;
  
  font-size: 13px;
 
}

.moodTextDiv3 {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

.moodText5 {
  text-align: center;
  font-size: 4em;
  letter-spacing: 4px;
  
  height: 2em;
  width: 100%;
  line-height: 1.8em;
  color: rgb(211, 44, 169);
  
}

.moodText55 {
  text-align: center;
  float: right;
  font-size: 2.9em;
  color: rgba(247, 247, 247, 0.776);
  
  text-shadow: black;
  letter-spacing: 4px;
  line-height: 2em;
}

.moodText555 {
  text-align: left;
  height: 1px;
  width: 100%;
  letter-spacing: 3px;
  line-height: 0em;
  color: rgba(218, 169, 206, 0.721);
 
  text-shadow: black;
  margin-left: 120px;
}

.MoodSection3 {
  margin-top: -15px;
  padding-top: 0px;
  line-height: 26px;
}

.moodText3 {
  margin-top: 60px;
}