.expanded-post-container {
    background-color: white;
    border-radius: 6px;
}

.reply-container {
    background-color: white;
    border-radius: 6px;
}

#reply-bar {
    width: 100%;
    height: 100px;
}

.reply-card {
    background-color: white;
    border-radius: 6px;
}