.card-title {
  font-family: 'Shadows into Light', sans-serif;
  font-size: 7em;
  color: #ec38bc;
}

.about {
  background-color: rgba(192, 192, 192, 0.3);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  margin-left: -0.5%;
  margin-right: -0.5%;
}

.middle-page {
  font-family: 'Shadows into Light', sans-serif;
  font-size: 3em;
}

#classicformpage {
  margin-top: -4%;
}