.card-title {
  font-family: 'Shadows into Light', sans-serif;
  font-size: 7em;
  color: #ec38bc;
}

.about {
  background-color: rgba(192, 192, 192, 0.3)
}

.middle-page {
  font-family: 'Shadows into Light', sans-serif;
  font-size: 3em;
}

#classicformpage {
  margin-top: -6%;
}