.card-title{
  font-family: 'Shadows into Light', sans-serif;
  font-size: 7em;
  color: #ec38bc;
}

.text-center{
  background-color: rgba(0,0,0,.03);
}

.middle-page {
  font-family: 'Shadows into Light', sans-serif;
  font-size: 3em;
}
